<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="~{common/layout}">


<head>
    <title>9.删除印章。</title>

</head>



<th:block layout:fragment="content" >
    <script type="text/javascript">
        function Save() {
            document.getElementById("PageOfficeCtrl1").WebSave();
        }

        var strSealName1 = "xiang1";//指定印章名称
        function InsertSeal() {
            try {
                //第一个参数，必填项，标识印章名称（当存在重名的印章时，默认选取第一个印章），且该印章签章人的签章类型方式必须为用户名+密码；第二个参数，可选项，标识是否保护文档，为null时保护文档，为空字符串时不保护文档；第三个参数，可选项，标识盖章指定位置名称，须为英文或数字，不区分大小写
                document.getElementById("PageOfficeCtrl1").ZoomSeal.AddSealByName(strSealName1, null);
            } catch(e) {}
        }
        var strSealName2 = "xiang2";//指定印章名称
        function InsertSeal2() {
            try {
                //第一个参数，必填项，标识印章名称（当存在重名的印章时，默认选取第一个印章），且该印章签章人的签章类型方式必须为用户名+密码；第二个参数，可选项，标识是否保护文档，为null时保护文档，为空字符串时不保护文档；第三个参数，可选项，标识盖章指定位置名称，须为英文或数字，不区分大小写
                document.getElementById("PageOfficeCtrl1").ZoomSeal.AddSealByName(strSealName2, null);
            } catch(e) {}
        }

        var strSealName3 = "xiang3";//指定印章名称
        function InsertSeal3() {
            try {
                //第一个参数，必填项，标识印章名称（当存在重名的印章时，默认选取第一个印章），且该印章签章人的签章类型方式必须为用户名+密码；第二个参数，可选项，标识是否保护文档，为null时保护文档，为空字符串时不保护文档；第三个参数，可选项，标识盖章指定位置名称，须为英文或数字，不区分大小写
                document.getElementById("PageOfficeCtrl1").ZoomSeal.AddSealByName(strSealName3, null);
            } catch(e) {}
        }



        function DeleteSeal1(){
            var iCount = document.getElementById("PageOfficeCtrl1").ZoomSeal.Count;//获取加盖的印章数量
            var strTempSealName = "";
            if(iCount > 0){
                for(var i=0; i<iCount; i++){
                    strTempSealName = document.getElementById("PageOfficeCtrl1").ZoomSeal.Item(i).SealName;//获取加盖的印章名称
                    if(strTempSealName==strSealName1){
                        document.getElementById("PageOfficeCtrl1").ZoomSeal.Item(i).DeleteSeal();//删除印章
                        //alert("成功删除了“"+strSealName1+"”");
                        break;
                    }
                }
            }else{
                alert("请先在文档中加盖印章后，再执行当前操作。");
            }


            var iCount = document.getElementById("PageOfficeCtrl1").ZoomSeal.Count;//获取加盖的印章数量
            var strTempSealName = "";
            if(iCount > 0){
                for(var i=0; i<iCount; i++){
                    strTempSealName = document.getElementById("PageOfficeCtrl1").ZoomSeal.Item(i).SealName;//获取加盖的印章名称
                    if(strTempSealName==strSealName1){
                        document.getElementById("PageOfficeCtrl1").ZoomSeal.Item(i).DeleteSeal();//删除印章
                        //alert("成功删除了“"+strSealName1+"”");
                        break;
                    }
                }
            }else{
                alert("请先在文档中加盖印章后，再执行当前操作。");
            }


        }

        function DeleteSeal3(){
            var iCount = document.getElementById("PageOfficeCtrl1").ZoomSeal.Count;//获取加盖的印章数量
            var strTempSealName = "";
            if(iCount > 0){
                for(var i=0; i<iCount; i++){
                    strTempSealName = document.getElementById("PageOfficeCtrl1").ZoomSeal.Item(i).SealName;//获取加盖的印章名称
                    if(strTempSealName==strSealName3){
                        document.getElementById("PageOfficeCtrl1").ZoomSeal.Item(i).DeleteSeal();//删除印章
                        alert("成功删除了“"+strSealName3+"”");
                        //break;
                    }
                }
            }else{
                alert("请先在文档中加盖印章后，再执行当前操作。");
            }

            var iCount = document.getElementById("PageOfficeCtrl1").ZoomSeal.Count;//获取加盖的印章数量
            var strTempSealName = "";
            if(iCount > 0){
                for(var i=0; i<iCount; i++){
                    strTempSealName = document.getElementById("PageOfficeCtrl1").ZoomSeal.Item(i).SealName;//获取加盖的印章名称
                    if(strTempSealName==strSealName1){
                        document.getElementById("PageOfficeCtrl1").ZoomSeal.Item(i).DeleteSeal();//删除印章
                        alert("成功删除了“"+strSealName1+"”");
                        //break;
                    }
                }
            }else{
                alert("请先在文档中加盖印章后，再执行当前操作。");
            }



        }

        function DeleteAllSeal(){
            var iCount = document.getElementById("PageOfficeCtrl1").ZoomSeal.Count;//获取加盖的印章数量
            if(iCount > 0){
                for(var i=iCount-1; i>=0; i--){
                    strTempSealName = document.getElementById("PageOfficeCtrl1").ZoomSeal.Item(i).SealName;//获取加盖的印章名称
                    document.getElementById("PageOfficeCtrl1").ZoomSeal.Item(i).DeleteSeal();//删除印章
                }
            }else{
                alert("请先在文档中加盖印章后，再执行当前操作。");
            }
        }

        function ChangePsw() {
            document.getElementById("PageOfficeCtrl1").ZoomSeal.ShowSettingsBox();
        }
    </script>

    <div th:replace="/common/common::office" ></div>




</th:block>

</html>
