<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/jquery.min.js"></script>
    <script type="text/javascript" src="/pageoffice.js" id="po_js_main"></script>

    <script type="text/javascript">
        var count = 0;
        function updateCount(value) {
            count = count + value;
            document.getElementById("Text1").value = count;
            return count.toString();
        }

    </script>


</head>
<body>



in





<div >Count=<input id="Text1" type="text" value="0" /></div>



<div>打开文件word给Word文档中的数据区域（DataRegion）赋值的简单示例</div>
<a href="javascript:POBrowser.openWindowModeless('/xiang/word','fullscreen=yes;');">打开文件word </a><br>


</body>
</html>