<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

    <style>
        #main{
            width:1030px;
            height:900px;
            border:#83b3d9 2px solid;
            background:#f2f7fb;

        }
        #shut{
            width:45px;
            height:30px;
            float:right;
            margin-right:-1px;
        }
        #shut:hover{
        }
    </style>
</head>
<body>


<script type="text/javascript">
    function Close() {
        window.external.close();
    }

</script>
<!--**************   卓正 PageOffice 客户端代码开始    ************************-->
<script language="javascript" type="text/javascript">
    function Save() {
        document.getElementById("PDFCtrl1").WebSave();
    }
    function InsertSeal() {
        try {
            //document.getElementById("PageOfficeCtrl1").ZoomSeal.AddSealByName("测试公章", null, null);

            document.getElementById("PDFCtrl1").ZoomSeal.AddSeal();//如果使用ZoomSeal中的USBKEY方式盖章，第一个参数不能为盖章用户登录名，只能为null或者空字符串
        } catch(e) {}
    }
    function AfterDocumentOpened() {
        //alert(document.getElementById("PDFCtrl1").Caption);

        //document.getElementById("PDFCtrl1").EnableFileCommand(4,false);

    }
    function SetBookmarks() {
        document.getElementById("PDFCtrl1").BookmarksVisible = !document.getElementById("PDFCtrl1").BookmarksVisible;
    }
    function test() {
        var iCount = document.getElementById("PDFCtrl1").ZoomSeal.Count;//获取加盖的印章数量
        if (iCount > 0) {
            for (var i = iCount - 1; i >= 0; i--) {
                strTempSealName = document.getElementById("PDFCtrl1").ZoomSeal.Item(i).SealName;//获取加盖的印章名称
                document.getElementById("PDFCtrl1").ZoomSeal.Item(i).DeleteSeal();//删除印章
            }
        } else {
            alert("请先在文档中加盖印章后，再执行当前操作。");
        }



        //document.getElementById("PDFCtrl1").Close();
        //document.getElementById("PDFCtrl1").WebOpen("/1.doc","docNormalEdit","张三")

        //document.getElementById("PDFCtrl1").PrintOut("",1)
        //document.getElementById("PDFCtrl1").PrintOut(false,"Microsoft Print To PDF",1);
        //document.getElementById("PDFCtrl1").ShowDialog(3);
        //document.getElementById("PDFCtrl1").Titlebar=false;
        //document.getElementById("PDFCtrl1").Menubar=false;

       // document.getElementById("PDFCtrl1").ShowHtmlModalDialog("HTMLPage.htm", 11, "left=" + 11 + "px;top=" + 11 + "px;width=400px;height=300px;frame=no;");
        //var strRet = document.getElementById("PDFCtrl1").ShowHtmlModalDialog("HTMLPage.htm", 11, "left=" + 11 + "px;top=" + 11 + "px;width=400px;height=300px;frame=no;");
    }

    function PrintFile() {
        document.getElementById("PDFCtrl1").PrintOut("",1)
        //document.getElementById("PDFCtrl1").PrintOut(false,"Microsoft Print To PDF",1);
        //document.getElementById("PDFCtrl1").ShowDialog(4);
    }
    function SwitchFullScreen() {
        document.getElementById("PDFCtrl1").FullScreen = !document.getElementById("PDFCtrl1").FullScreen;
    }
    function SetPageReal() {
        document.getElementById("PDFCtrl1").SetPageFit(1);
    }
    function SetPageFit() {
        document.getElementById("PDFCtrl1").SetPageFit(2);
    }
    function SetPageWidth() {
        document.getElementById("PDFCtrl1").SetPageFit(3);
    }
    function ZoomIn() {
        document.getElementById("PDFCtrl1").ZoomIn();
    }
    function ZoomOut() {
        document.getElementById("PDFCtrl1").ZoomOut();
    }
    function FirstPage() {
        document.getElementById("PDFCtrl1").GoToFirstPage();
    }
    function PreviousPage() {
        document.getElementById("PDFCtrl1").GoToPreviousPage();
    }
    function NextPage() {
        alert(11)
        document.getElementById("PDFCtrl1").GoToNextPage();
    }
    function LastPage() {
        document.getElementById("PDFCtrl1").GoToLastPage();
    }
    function RotateRight() {
        document.getElementById("PDFCtrl1").RotateRight();
    }
    function RotateLeft() {
        document.getElementById("PDFCtrl1").RotateLeft();
    }
</script>


<div id="main">

    <div th:replace="/common/common::office" ></div>
</div>








</body>
</html>
