<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>使用静态页面集成pageoffice</title>
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="pageoffice.js" id="po_js_main"></script>

    <script type="text/javascript">
        var count = 0;
        function updateCount(value) {
            count = count + value;
            document.getElementById("Text1").value = count;
            return count.toString();
        }

    </script>

</head>
<body  >

<a href="javascript:POBrowser.openWindowModeless('/word89','fullscreen=yes;');">打开文件word89 </a><br>

<div >Count=<input id="Text1" type="text" value="0" /></div>



</body>
</html>
