<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="~{common/layout}">




<head>
    <title>My JSP 'index.jsp' starting page</title>


</head>




<th:block layout:fragment="content" >

    <a href="index.jsp">返回列表页</a>

    <script type="text/javascript">
        function Save() {
            document.getElementById("PageOfficeCtrl1").WebSave();
        }
    </script>
    <div th:replace="/common/common::office" ></div>





</th:block>

</html>
