<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="~{common/layout}">




<head>
    <title>编辑文档页面</title>
    <script type="text/javascript">
        var strKey = window.external.UserParams;
        function Save() {
            document.getElementById("PageOfficeCtrl1").WebSave();
            //document.getElementById("PageOfficeCtrl1").CustomSaveResult获取的是保存页面的返回值
            if (document.getElementById("PageOfficeCtrl1").CustomSaveResult =="ok")
                document.getElementById("PageOfficeCtrl1").Alert("保存成功");
            else
                document.getElementById("PageOfficeCtrl1").Alert(document.getElementById("PageOfficeCtrl1").CustomSaveResult);
        }

        function SetKeyWord(key, visible) {
            if (key=="null"||"" == key) {
                document.getElementById("PageOfficeCtrl1").Alert("关键字为空。");
                return;
            }
            var sMac = "function myfunc()" + "\r\n"
                + "Application.Selection.HomeKey(6) \r\n"
                + "Application.Selection.Find.ClearFormatting \r\n"
                + "Application.Selection.Find.Replacement.ClearFormatting \r\n"
                + "Application.Selection.Find.Text = \"" + key + "\" \r\n"
                + "While (Application.Selection.Find.Execute()) \r\n"
                +  "If (" + visible + ") Then \r\n"
                +  "Application.Selection.Range.HighlightColorIndex = 7 \r\n"
                +  "Else \r\n"
                +  "Application.Selection.Range.HighlightColorIndex = 0 \r\n"
                +  "End If \r\n"
                +  "Wend \r\n"
                +  "Application.Selection.HomeKey(6) \r\n"
                + "End function";

            document.getElementById("PageOfficeCtrl1").RunMacro("myfunc", sMac);

        }
    </script>


</head>




<th:block layout:fragment="content" >

    <form id="form1" >
        <input name="button" id="Button1" type="button" onclick="SetKeyWord(strKey,true)" value="高亮显示关键字" />
        <input name="button" id="Button2" type="button" onclick="SetKeyWord(strKey,false)" value="取消关键字显示" />
        <div th:replace="/common/common::office" ></div>
    </form>







</th:block>

</html>
