<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Index</title>
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="pageoffice.js" id="po_js_main"></script>

</head>
`
<body>
<h1 th:inline="text">PageOffice 集成效果演示</h1>

<!--<a href="javascript:POBrowser.openWindowModeless('/word','width=1200px;height=800px;');">打开文件 </a>-->
<!--<a href="javascript:POBrowser.openWindowModeless('/word','fullscreen=yes;');">打开文件11 </a>-->
<a href="javascript:POBrowser.openWindowModeless('/word6?userid=1','fullscreen=yes;');">1打开文件word </a><br>
<a href="javascript:POBrowser.openWindowModeless('/word6?userid=2','fullscreen=yes;');">2打开文件word </a><br>
<a href="javascript:POBrowser.openWindowModeless('/word17','fullscreen=yes;');">打开文件word </a><br>
<br><br>



<div>隐藏或显示Word的Ribbon工具栏中的按钮、面板、命令分组。 </div>
<a href="javascript:POBrowser.openWindowModeless('/word49','fullscreen=yes;');">打开文件word49 </a><br>
<br>
<div>给Word中的文本框赋值 </div>
<a href="javascript:POBrowser.openWindowModeless('/word48','fullscreen=yes;');">打开文件word48 </a><br>
<br>

<div>比较两个版本的word </div>
<a href="javascript:POBrowser.openWindowModeless('/word47','fullscreen=yes;');">打开文件word47 </a><br>
<br>

<div>FileMaker转换单个文档为PDF（以Word为例） </div>
<a href="javascript:POBrowser.openWindowModeless('/word45','fullscreen=yes;');">打开文件word45 </a><br>
<br>
<div>用户自定义模板中数据标签（DataTag）的位置</div>
<a href="javascript:POBrowser.openWindowModeless('/word44','fullscreen=yes;');">打开文件word44 </a><br>
<br>
<div>用户自定义模板中数据区域（DataRegion）的位置</div>
<a href="javascript:POBrowser.openWindowModeless('/word43','fullscreen=yes;');">打开文件word43 </a><br>
<br>
<div>给Word文档中的数据区域（DataRegion）赋值并设置样式</div>
<a href="javascript:POBrowser.openWindowModeless('/word42','fullscreen=yes;');">打开文件word42 </a><br>
<br>

<div>响应数据区域点击事件</div>
<a href="javascript:POBrowser.openWindowModeless('/word41','fullscreen=yes;');">打开文件word41 </a><br>
<br>
<div>使用程序合并Word文件中表格的单元格并赋值（专业版、企业版）</div>
<a href="javascript:POBrowser.openWindowModeless('/word40','fullscreen=yes;');">打开文件word40 </a><br>
<br>
<div>控制用户打开文件只能看到自己的手写（企业版）</div>
<a href="javascript:POBrowser.openWindowModeless('/word38','fullscreen=yes;');">打开文件word38 </a><br>
<br>
<div>高级不同用户编缉不同区域</div>
<a href="javascript:POBrowser.openWindowModeless('/word36','fullscreen=yes;');">打开文件word36 </a><br>
<br>
<div>不同用户编缉不同区域</div>
<a href="javascript:POBrowser.openWindowModeless('/word34','fullscreen=yes;');">打开文件word34 </a><br>
<br>
<div>修改样式</div>
<a href="javascript:POBrowser.openWindowModeless('/word33','fullscreen=yes;');">打开文件word33 </a><br>
<br>
<div>取word中的数字</div>
<a href="javascript:POBrowser.openWindowModeless('/word32','fullscreen=yes;');">打开文件word32 </a><br>
<br>
<div>手写</div>
<a href="javascript:POBrowser.openWindowModeless('/word31','fullscreen=yes;');">打开文件word31 </a><br>
<br>
<div>Word中的Table的数据填充</div>
<a href="javascript:POBrowser.openWindowModeless('/word30','fullscreen=yes;');">打开文件word30 </a><br>
<br>


<div>演示使用FileMaker对象动态生成文件的效果。虽然还是在客户端生成文件后保存到服务器上的，但是不在客户端显式的打开文件</div>
<a href="javascript:POBrowser.openWindowModeless('/word28','fullscreen=yes;');">打开文件word28 </a><br>

<div>使用只读模式在线打开Word文件，禁止编辑、拷贝、打印、另存。</div>
<a href="javascript:POBrowser.openWindowModeless('/word18','fullscreen=yes;');">打开文件word18 </a><br>

<div>数据库读</div>
<a href="javascript:POBrowser.openWindowModeless('/word20','fullscreen=yes;');">打开文件word20 </a><br>

<div>保存为pdf</div>
<a href="javascript:POBrowser.openWindowModeless('/word22','fullscreen=yes;');">打开文件word22 </a><br>
<div>插入其它的word</div>
<a href="javascript:POBrowser.openWindowModeless('/word23','fullscreen=yes;');">打开文件word22 </a><br>
<div>加水印</div>
<a href="javascript:POBrowser.openWindowModeless('/word24','fullscreen=yes;');">打开文件word24 </a><br>

<div>编辑格式</div>
<a href="javascript:POBrowser.openWindowModeless('/word25','fullscreen=yes;');">打开文件word25 </a><br>
<div>演示使用CreateDataRegion方法动态添加数据区域的功能。动态添加数据区域，可以在生成Word文件的时候更灵活，甚至可以从空白的Word文件生成一个图文并茂的文件</div>
<a href="javascript:POBrowser.openWindowModeless('/word26','fullscreen=yes;');">打开文件word26 </a><br>



<div>使用PageOffice的RunMacro方法可以运行Office文档本身包含的宏命令</div>
<a href="javascript:POBrowser.openWindowModeless('/word27','fullscreen=yes;');">打开文件word27 </a><br>



<div>列表</div>
<a href="/wordlists">打开文件wordlist </a><br>
<br><br><br>




<div>实现隐藏Ribbon栏中的”命令分组</div>
<a href="javascript:POBrowser.openWindowModeless('/excel19','fullscreen=yes;');">打开文件excel19 </a><br>
<br>
<div>填充方式二</div>
<a href="javascript:POBrowser.openWindowModeless('/excel18','fullscreen=yes;');">打开文件excel16-3 </a><br>
<br>
<div>填充方式一</div>
<a href="javascript:POBrowser.openWindowModeless('/excel17','fullscreen=yes;');">打开文件excel16-2 </a><br>
<br>
<div>未填充</div>
<a href="javascript:POBrowser.openWindowModeless('/excel16','fullscreen=yes;');">打开文件excel16-1 </a><br>
<br>



<div>演示给Excel模板中定义了名称的一块区域赋值，保存时可获取此区域内各单元格的数据</div>
<a href="javascript:POBrowser.openWindowModeless('/excel15?temp=temp1.xls','fullscreen=yes;');">打开文件excel15-2 </a><br>
<br>
<div>演示给Excel模板中定义了名称的一块区域赋值，保存时可获取此区域内各单元格的数据</div>
<a href="javascript:POBrowser.openWindowModeless('/excel15?temp=temp2.xls','fullscreen=yes;');">打开文件excel15-1 </a><br>
<br>



<div>演示给Excel模板中定义了名称的一块区域赋值，保存时可获取此区域内各单元格的数据</div>
<a href="javascript:POBrowser.openWindowModeless('/excel14','fullscreen=yes;');">打开文件excel14 </a><br>
<br>
<div>给Excel模板中定义了名称的单元格赋值（专业版、企业版）</div>
<a href="javascript:POBrowser.openWindowModeless('/excel13','fullscreen=yes;');">打开文件excel13 </a><br>
<br>
<div>简单的给Excel单元格赋值设置文本颜色（专业版、企业版）</div>
<a href="javascript:POBrowser.openWindowModeless('/excel12','fullscreen=yes;');">打开文件excel12 </a><br>
<br>
<div>响应Excel单元格点击事件</div>
<a href="javascript:POBrowser.openWindowModeless('/excel11','fullscreen=yes;');">打开文件excel11 </a><br>
<br>
<div>用程序设置Excel单元格文本的字体、颜色、对齐和背景色</div>
<a href="javascript:POBrowser.openWindowModeless('/excel10','fullscreen=yes;');">打开文件excel10 </a><br>
<br>
<div>使用程序 “绘制” Excel表格线（专业版、企业版）</div>
<a href="javascript:POBrowser.openWindowModeless('/excel9','fullscreen=yes;');">打开文件excel9 </a><br>
<br>

<div>控制不同用户编辑Excel文档中不同的区域（专业版、企业版）</div>
<a href="javascript:POBrowser.openWindowModeless('/excel7','fullscreen=yes;');">打开文件excel7 </a><br>
<br>

<div>使用程序合并Excel的单元格并设置格式和赋值（专业版、企业版）</div>
<a href="javascript:POBrowser.openWindowModeless('/excel6','fullscreen=yes;');">打开文件excel6 </a><br>
<br>

<!--<a href="javascript:POBrowser.openWindowModeless('/excel','fullscreen=yes;');">打开文件11 </a>-->
<a href="javascript:POBrowser.openWindowModeless('/excel5','fullscreen=yes;');">打开文件excel5 </a>



<div>pdf演示使用POPDF组件在线打开PDF文件的效果，标题栏、菜单栏、工具栏和自定义工具条都可以分别隐藏，同时自定义工具条上的按钮的数量和功能均可编程控制</div>
<a href="javascript:POBrowser.openWindowModeless('/pdf1','fullscreen=yes;');">打开文件pdf </a><br>


<!--<a href="javascript:POBrowser.openWindowModeless('/ppt','fullscreen=yes;');">打开文件11 </a>-->
</body>
</html>
