<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Index</title>
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="pageoffice.js" id="po_js_main"></script>

</head>
`
<body>
<h1 th:inline="text">PageOffice 集成效果演示</h1>



<div style="width: 49%;float: left ">






    <h3>word</h3>


    <div>百度</div>
    <a href="javascript:POBrowser.openWindowModeless('http://www.baidu.com','fullscreen=yes;');">打开百度 </a><br>
    <br>



    <div>打开ppt</div>
    <a href="javascript:POBrowser.openWindowModeless('xiang/ppt','fullscreen=yes;');">打开文件ppt </a><br>
    <br>




    <div>pdf演示使用POPDF组件在线打开PDF文件的效果，标题栏、菜单栏、工具栏和自定义工具条都可以分别隐藏，同时自定义工具条上的按钮的数量和功能均可编程控制</div>
    <a href="javascript:POBrowser.openWindowModeless('xiang/pdf','fullscreen=yes;');">打开文件pdf1 </a><br>
    <br>


    <div>IFram测试</div>
    <a href="/xiang/iframOut">IFram测试 </a><br>



    <div>VBA测试</div>
    <a href="javascript:POBrowser.openWindowModeless('xiang/word6','fullscreen=yes;','');">打开文件word6 </a><br>


    <div>三个标签页</div>
    <a href="javascript:POBrowser.openWindowModeless('xiang/word5','fullscreen=yes;','');">打开文件word5 </a><br>


    <div>baidu</div>
    <a href="javascript:POBrowser.openWindowModeless('http://www.baidu.com/','fullscreen=yes;httpbasic=yes;','');">打开百度 </a><br>




    <div>后台保存</div>
    <a href="javascript:POBrowser.openWindowModeless('xiang/word2','fullscreen=yes;');">打开文件word2 </a><br>

    <div>打开文件word1 a标签的方式</div>
    <a href="javascript:POBrowser.openWindowModeless('xiang/word?id=11&name=xiang','fullscreen=yes;');">打开文件word </a><br>








    <div>打开文件js方式1</div>
    <a href="javascript:"  onclick="openWord()">打开文件word </a><br>
    <script>
        function openWord() {
            var strValue=["number","name"];
            console.log('1');
            var url='xiang/word';
            POBrowser.openWindowModeless(url,'fullscreen=no;',"");


            /*setTimeout(function () {

                POBrowser.openWindowModeless('xiang/word2','fullscreen=yes;',"");

                console.log('2');
            },10000);*/


        }

        function updateCount(value) {
            alert(decodeURI(value));
            alert(decodeURIComponent(value));
        }



    </script>





</div>
<div style="width: 49%;;float: right ">

    <h3>excel</h3>
    <div>excel</div>
    <a href="javascript:POBrowser.openWindowModeless('xiang/excel','fullscreen=yes;','');">数据文档同时保存文件 /excel </a><br>
    <a href="javascript:POBrowser.openWindowModeless('xiang/excel2','fullscreen=yes;','');">文档保存文件 /excel2</a><br>

</div>




<!--<a href="javascript:POBrowser.openWindowModeless('/ppt','fullscreen=yes;');">打开文件11 </a>-->
</body>
</html>
