<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Index</title>
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="pageoffice.js" id="po_js_main"></script>

</head>
`
<body>
<h1 th:inline="text">PageOffice 集成效果演示</h1>


<br><br>
<div>生成准考证合 </div>
<a href="javascript:POBrowser.openWindowModeless('/word66','fullscreen=yes;');">打开文件word66 </a><br>

<div>另存为 </div>
<a href="javascript:POBrowser.openWindowModeless('/word65','fullscreen=yes;');">打开文件word65 </a><br>

<div>批量生成准考证 </div>
<a href="javascript:POBrowser.openWindowModeless('/word63','fullscreen=yes;');">打开文件word63 </a><br>
<br>
<br>
<br>






<div style="width: 49%;float: left " >


    <div>在线编辑Word文档时，禁止拷贝内容到外部。 </div>
    <a href="javascript:POBrowser.openWindowModeless('/word62','fullscreen=yes;');">打开文件word62 </a><br>
    <br>
    <div>演示如何使用使用Shape类获取Word文档中的图片。 </div>
    <a href="javascript:POBrowser.openWindowModeless('/word61','fullscreen=yes;');">打开文件word61 </a><br>
    <br>
    <div>Word表格中的单元格内插入图片 </div>
    <a href="javascript:POBrowser.openWindowModeless('/word60','fullscreen=yes;');">打开文件word60 </a><br>
    <br>
    <div>Word表格中的单元格内插入图片 </div>
    <a href="javascript:POBrowser.openWindowModeless('/word59','fullscreen=yes;');">打开文件word59 </a><br>
    <br>

    <div>Word中使用服务器端方法插入分页符（专业版、企业版） </div>
    <a href="javascript:POBrowser.openWindowModeless('/word58','fullscreen=yes;');">打开文件word58 </a><br>
    <br>
    <div>演示了如何使用服务器端方法removeRowAt(cell)删除Word表格中的指定单元格所在行。 </div>
    <a href="javascript:POBrowser.openWindowModeless('/word57','fullscreen=yes;');">打开文件word57 </a><br>
    <br>
    <div>首页保存为图片 </div>
    <a href="javascript:POBrowser.openWindowModeless('/word56','fullscreen=yes;');">打开文件word56 </a><br>
    <br>
    <div>运行宏 </div>
    <a href="javascript:POBrowser.openWindowModeless('/word55','fullscreen=yes;');">打开文件word55 </a><br>
    <br>
    <div>在Word文档中动态创建表格并赋值 </div>
    <a href="javascript:POBrowser.openWindowModeless('/word54','fullscreen=yes;');">打开文件word54 </a><br>
    <br>
    <div>Word显示手写批注列表效果 </div>
    <a href="javascript:POBrowser.openWindowModeless('/word53','fullscreen=yes;');">打开文件word53 </a><br>
    <br>
    <div>Word中显示痕迹列表效果 </div>
    <a href="javascript:POBrowser.openWindowModeless('/word52','fullscreen=yes;');">打开文件word52 </a><br>
    <br>
    <div>批注 </div>
    <a href="javascript:POBrowser.openWindowModeless('/word51','fullscreen=yes;');">打开文件word51 </a><br>
    <br>
    <div>拆分Word文档：把数据区域中的内容保存为子文档 </div>
    <a href="javascript:POBrowser.openWindowModeless('/word50','fullscreen=yes;');">打开文件word50 </a><br>
    <br>
    <div>隐藏或显示Word的Ribbon工具栏中的按钮、面板、命令分组。 </div>
    <a href="javascript:POBrowser.openWindowModeless('/word49','fullscreen=yes;');">打开文件word49 </a><br>
    <br>
    <div>给Word中的文本框赋值 </div>
    <a href="javascript:POBrowser.openWindowModeless('/word48','fullscreen=yes;');">打开文件word48 </a><br>
    <br>

    <div>比较两个版本的word </div>
    <a href="javascript:POBrowser.openWindowModeless('/word47','fullscreen=yes;');">打开文件word47 </a><br>
    <br>

    <div>FileMaker转换单个文档为PDF（以Word为例） </div>
    <a href="javascript:POBrowser.openWindowModeless('/word45','fullscreen=yes;');">打开文件word45 </a><br>
    <br>
    <div>用户自定义模板中数据标签（DataTag）的位置</div>
    <a href="javascript:POBrowser.openWindowModeless('/word44','fullscreen=yes;');">打开文件word44 </a><br>
    <br>
    <div>用户自定义模板中数据区域（DataRegion）的位置</div>
    <a href="javascript:POBrowser.openWindowModeless('/word43','fullscreen=yes;');">打开文件word43 </a><br>
    <br>
    <div>给Word文档中的数据区域（DataRegion）赋值并设置样式</div>
    <a href="javascript:POBrowser.openWindowModeless('/word42','fullscreen=yes;');">打开文件word42 </a><br>
    <br>

    <div>响应数据区域点击事件</div>
    <a href="javascript:POBrowser.openWindowModeless('/word41','fullscreen=yes;');">打开文件word41 </a><br>
    <br>
    <div>使用程序合并Word文件中表格的单元格并赋值（专业版、企业版）</div>
    <a href="javascript:POBrowser.openWindowModeless('/word40','fullscreen=yes;');">打开文件word40 </a><br>
    <br>
    <div>控制用户打开文件只能看到自己的手写（企业版）</div>
    <a href="javascript:POBrowser.openWindowModeless('/word38','fullscreen=yes;');">打开文件word38 </a><br>
    <br>
    <div>高级不同用户编缉不同区域</div>
    <a href="javascript:POBrowser.openWindowModeless('/word36','fullscreen=yes;');">打开文件word36 </a><br>
    <br>
    <div>不同用户编缉不同区域</div>
    <a href="javascript:POBrowser.openWindowModeless('/word34','fullscreen=yes;');">打开文件word34 </a><br>
    <br>
    <div>修改样式</div>
    <a href="javascript:POBrowser.openWindowModeless('/word33','fullscreen=yes;');">打开文件word33 </a><br>
    <br>
    <div>取word中的数字</div>
    <a href="javascript:POBrowser.openWindowModeless('/word32','fullscreen=yes;');">打开文件word32 </a><br>
    <br>
    <div>手写</div>
    <a href="javascript:POBrowser.openWindowModeless('/word31','fullscreen=yes;');">打开文件word31 </a><br>
    <br>
    <div>Word中的Table的数据填充</div>
    <a href="javascript:POBrowser.openWindowModeless('/word30','fullscreen=yes;');">打开文件word30 </a><br>
    <br>


    <div>演示使用FileMaker对象动态生成文件的效果。虽然还是在客户端生成文件后保存到服务器上的，但是不在客户端显式的打开文件</div>
    <a href="javascript:POBrowser.openWindowModeless('/word28','fullscreen=yes;');">打开文件word28 </a><br>

    <div>使用只读模式在线打开Word文件，禁止编辑、拷贝、打印、另存。</div>
    <a href="javascript:POBrowser.openWindowModeless('/word18','fullscreen=yes;');">打开文件word18 </a><br>

    <div>数据库读</div>
    <a href="javascript:POBrowser.openWindowModeless('/word20','fullscreen=yes;');">打开文件word20 </a><br>

    <div>保存为pdf</div>
    <a href="javascript:POBrowser.openWindowModeless('/word22','fullscreen=yes;');">打开文件word22 </a><br>
    <div>插入其它的word</div>
    <a href="javascript:POBrowser.openWindowModeless('/word23','fullscreen=yes;');">打开文件word22 </a><br>
    <div>加水印</div>
    <a href="javascript:POBrowser.openWindowModeless('/word24','fullscreen=yes;');">打开文件word24 </a><br>

    <div>编辑格式</div>
    <a href="javascript:POBrowser.openWindowModeless('/word25','fullscreen=yes;');">打开文件word25 </a><br>
    <div>演示使用CreateDataRegion方法动态添加数据区域的功能。动态添加数据区域，可以在生成Word文件的时候更灵活，甚至可以从空白的Word文件生成一个图文并茂的文件</div>
    <a href="javascript:POBrowser.openWindowModeless('/word26','fullscreen=yes;');">打开文件word26 </a><br>



    <div>使用PageOffice的RunMacro方法可以运行Office文档本身包含的宏命令</div>
    <a href="javascript:POBrowser.openWindowModeless('/word27','fullscreen=yes;');">打开文件word27 </a><br>
    <br><br>

    <div>word26在Word中动态创建数据区域（专业版、企业版）</div>
    <a href="javascript:POBrowser.openWindowModeless('/word26','fullscreen=yes;');">打开文件word26 </a><br>
    <br>
    <div>word25使用数据标签（DataTag）给Word文件填充带格式的数据</div>
    <a href="javascript:POBrowser.openWindowModeless('/word25','fullscreen=yes;');">打开文件word25 </a><br>
    <br>
    <div>word24给Word文档添加水印</div>
    <a href="javascript:POBrowser.openWindowModeless('/word24','fullscreen=yes;');">打开文件word24 </a><br>
    <br>
    <div>word23后台编程插入Word文件到数据区域，后台编程插入图片到数据区域，后台编程插入Excel文件到数据区域</div>
    <a href="javascript:POBrowser.openWindowModeless('/word23','fullscreen=yes;');">打开文件word23 </a><br>

    <br>
    <div>word22Office文件转换为PDF文件（以Word为例）（专业版、企业版）</div>
    <a href="javascript:POBrowser.openWindowModeless('/word22','fullscreen=yes;');">打开文件word22 </a><br>
    <br>
    <div>word20打开保存数据库中的文件（以Word为例）</div>
    <a href="javascript:POBrowser.openWindowModeless('/word20','fullscreen=yes;');">打开文件word20 </a><br>


    <br>
    <div>word18文件在线安全浏览（以Word为例）</div>
    <a href="javascript:POBrowser.openWindowModeless('/word18','fullscreen=yes;');">打开文件word18 </a><br>

    <br>
    <div>word17演示强制留痕模式编辑Word文档</div>
    <a href="javascript:POBrowser.openWindowModeless('/word17','fullscreen=yes;');">打开文件word17 </a><br>
    <br>
    <div>word16演示隐藏POBrowser窗口的边框</div>
    <a href="javascript:POBrowser.openWindowModeless('/word16','fullscreen=yes;');">打开文件word16 </a><br>
    <br>
    <div>word15POBrowser专题</div>
    <a href="javascript:POBrowser.openWindowModeless('/word15','fullscreen=yes;');">打开文件word15 </a><br>
    <br>
    <div>word13禁止Word中鼠标右键</div>
    <a href="javascript:POBrowser.openWindowModeless('/word13','fullscreen=yes;');">打开文件word13 </a><br>
    <br>
    <div>word12导入离线填报的Word文件并提交数据</div>
    <a href="javascript:POBrowser.openWindowModeless('/word12','fullscreen=yes;');">打开文件word12 </a><br>

    <br>
    <div>word11既保存Word文档中指定位置的数据,又保存整篇文档（以Word为例）</div>
    <a href="javascript:POBrowser.openWindowModeless('/word11','fullscreen=yes;');">打开文件word11 </a><br>

    <br>
    <div>word10 POBrowser方式在线打开文档（以Word为例）</div>
    <a href="javascript:POBrowser.openWindowModeless('/word10','fullscreen=yes;');">打开文件word10 </a><br>
    <br>
    <div>word9文档保存前和保存后触发的事件（以Word为例）</div>
    <a href="javascript:POBrowser.openWindowModeless('/word9','fullscreen=yes;');">打开文件word9 </a><br>


    <br>
    <div>word8另存文件为MHT格式（以Word为例）</div>
    <a href="javascript:POBrowser.openWindowModeless('/word8','fullscreen=yes;');">打开文件word8 </a><br>
    <br>
    <div>word7另存HTML</div>
    <a href="javascript:POBrowser.openWindowModeless('/word7','fullscreen=yes;');">打开文件word7 </a><br>


    <br>
    <div>word6李四打开</div>
    <a href="javascript:POBrowser.openWindowModeless('/word6?userid=2','fullscreen=yes;');">打开文件word6-2 </a><br>
    <br>
    <div>word6张三打开</div>
    <a href="javascript:POBrowser.openWindowModeless('/word6?userid=1','fullscreen=yes;');">打开文件word6-1 </a><br>



    <br>
    <div>用JS控制PageOffice窗口上各个工具栏的隐藏和显示（以Word为例）word5</div>
    <a href="javascript:POBrowser.openWindowModeless('/word5','fullscreen=yes;');">打开文件word5 </a><br>

    <br>
    <div>给Word文档中Table赋值的简单示例</div>
    <a href="javascript:POBrowser.openWindowModeless('/word4','fullscreen=yes;');">打开文件word4 </a><br>
    <br>
    <div>word3控制保存、另存和打印功能（以Word为例），添加文档打开之后在页面里触发的事件</div>
    <a href="javascript:POBrowser.openWindowModeless('/word3','fullscreen=yes;');">打开文件word3 </a><br>
    <div>最简单的提交Word中的用户输入内容</div>
    <a href="javascript:POBrowser.openWindowModeless('/word2','fullscreen=yes;');">打开文件word2 </a><br>

    <div>打开文件word给Word文档中的数据区域（DataRegion）赋值的简单示例</div>
    <a href="javascript:POBrowser.openWindowModeless('/word','fullscreen=no;');">打开文件word </a><br>





    <div>列表</div>
    <a href="/wordlists">打开文件wordlist </a><br>
    <br><br><br>




</div>
<div style="width: 49%;;float: right " >



    <div>演示了如何在Excel指定的单元格中插入图片</div>
    <a href="javascript:POBrowser.openWindowModeless('/excel21','fullscreen=yes;');">打开文件excel21 </a><br>
    <br>
    <div>演示了如何在Excel只读模式下允许用户手动调整Excel表的行高和列宽。</div>
    <a href="javascript:POBrowser.openWindowModeless('/excel20','fullscreen=yes;');">打开文件excel20 </a><br>
    <br>
    <div>实现隐藏Ribbon栏中的”命令分组</div>
    <a href="javascript:POBrowser.openWindowModeless('/excel19','fullscreen=yes;');">打开文件excel19 </a><br>
    <br>
    <div>填充方式二</div>
    <a href="javascript:POBrowser.openWindowModeless('/excel18','fullscreen=yes;');">打开文件excel16-3 </a><br>
    <br>
    <div>填充方式一</div>
    <a href="javascript:POBrowser.openWindowModeless('/excel17','fullscreen=yes;');">打开文件excel16-2 </a><br>
    <br>
    <div>未填充</div>
    <a href="javascript:POBrowser.openWindowModeless('/excel16','fullscreen=yes;');">打开文件excel16-1 </a><br>
    <br>



    <div>演示给Excel模板中定义了名称的一块区域赋值，保存时可获取此区域内各单元格的数据</div>
    <a href="javascript:POBrowser.openWindowModeless('/excel15?temp=temp1.xls','fullscreen=yes;');">打开文件excel15-2 </a><br>
    <br>
    <div>演示给Excel模板中定义了名称的一块区域赋值，保存时可获取此区域内各单元格的数据</div>
    <a href="javascript:POBrowser.openWindowModeless('/excel15?temp=temp2.xls','fullscreen=yes;');">打开文件excel15-1 </a><br>
    <br>



    <div>演示给Excel模板中定义了名称的一块区域赋值，保存时可获取此区域内各单元格的数据</div>
    <a href="javascript:POBrowser.openWindowModeless('/excel14','fullscreen=yes;');">打开文件excel14 </a><br>
    <br>
    <div>给Excel模板中定义了名称的单元格赋值（专业版、企业版）</div>
    <a href="javascript:POBrowser.openWindowModeless('/excel13','fullscreen=yes;');">打开文件excel13 </a><br>
    <br>
    <div>简单的给Excel单元格赋值设置文本颜色（专业版、企业版）</div>
    <a href="javascript:POBrowser.openWindowModeless('/excel12','fullscreen=yes;');">打开文件excel12 </a><br>
    <br>
    <div>响应Excel单元格点击事件</div>
    <a href="javascript:POBrowser.openWindowModeless('/excel11','fullscreen=yes;');">打开文件excel11 </a><br>
    <br>
    <div>用程序设置Excel单元格文本的字体、颜色、对齐和背景色</div>
    <a href="javascript:POBrowser.openWindowModeless('/excel10','fullscreen=yes;');">打开文件excel10 </a><br>
    <br>
    <div>使用程序 “绘制” Excel表格线（专业版、企业版）</div>
    <a href="javascript:POBrowser.openWindowModeless('/excel9','fullscreen=yes;');">打开文件excel9 </a><br>
    <br>

    <div>控制不同用户编辑Excel文档中不同的区域（专业版、企业版）</div>
    <a href="javascript:POBrowser.openWindowModeless('/excel7','fullscreen=yes;');">打开文件excel7 </a><br>
    <br>

    <div>使用程序合并Excel的单元格并设置格式和赋值（专业版、企业版）</div>
    <a href="javascript:POBrowser.openWindowModeless('/excel6','fullscreen=yes;');">打开文件excel6 </a><br>
    <br>

    <br><br>

    <div>禁止当前工作表鼠标右键</div>
    <!--<a href="javascript:POBrowser.openWindowModeless('/excel','fullscreen=yes;');">打开文件11 </a>-->
    <a href="javascript:POBrowser.openWindowModeless('/excel5','fullscreen=yes;');">打开文件excel5 </a><br>
    <br><br>



    <div>导入离线填报的Excel文件并提交数据</div>
    <a href="javascript:POBrowser.openWindowModeless('/excel4','fullscreen=yes;');">打开文件excel4 </a><br>
    <br>
    <div>对Excel中的一块区域赋值，并自动增加行</div>
    <a href="javascript:POBrowser.openWindowModeless('/excel3','fullscreen=yes;');">打开文件excel3 </a><br>
    <br>
    <div>最简单的提交Excel中的用户输入内容</div>
    <a href="javascript:POBrowser.openWindowModeless('/excel2','fullscreen=yes;');">打开文件excel2 </a><br>
    <br>
    <div>此示例是一个最简单的给Excel单元格赋值的示例。</div>
    <a href="javascript:POBrowser.openWindowModeless('/excel','fullscreen=yes;');">打开文件excel </a><br>



    <div>在线打开图片</div>
    <a href="javascript:POBrowser.openWindowModeless('/pdf3','fullscreen=yes;');">打开文件pdf3 </a><br>
    <div>演示了如何在PDF文档中以“上一个”和“下一个”的形式搜索关键字。</div>
    <a href="javascript:POBrowser.openWindowModeless('/pdf2','fullscreen=yes;');">打开文件pdf2 </a><br>

    <div>pdf演示使用POPDF组件在线打开PDF文件的效果，标题栏、菜单栏、工具栏和自定义工具条都可以分别隐藏，同时自定义工具条上的按钮的数量和功能均可编程控制</div>
    <a href="javascript:POBrowser.openWindowModeless('/pdf1','fullscreen=yes;');">打开文件pdf1 </a><br>
    <br>


    <div>批量加章</div>
    <a href="javascript:POBrowser.openWindowModeless('/seal/word11','fullscreen=yes;');">打开/seal/word11 </a><br>
    <br>
    <div>加盖骑缝章。</div>
    <a href="javascript:POBrowser.openWindowModeless('/seal/word10','fullscreen=yes;');">打开/seal/word10 </a><br>
    <br>

    <div>.删除印章</div>
    <a href="javascript:POBrowser.openWindowModeless('/seal/word9','fullscreen=yes;');">打开/seal/word9 </a><br>
    <br>
    <div>特殊盖章需求实现：盖章后印章不保护文档内容，用户仍可编辑修改，印章不会出现失效字样</div>
    <a href="javascript:POBrowser.openWindowModeless('/seal/word8','fullscreen=yes;');">打开/seal/word8 </a><br>
    <br>
    <div>不弹出用户名、密码输入框并且不弹出印章选择框加盖印章到模板中的指定位置</div>
    <a href="javascript:POBrowser.openWindowModeless('/seal/word7','fullscreen=yes;');">打开/seal/word7 </a><br>
    <br>
    <div>无需输入用户名、密码加盖印章到模板中的指定位置： Word6.jsp</div>
    <a href="javascript:POBrowser.openWindowModeless('/seal/word6','fullscreen=yes;');">打开/seal/word6 </a><br>
    <br>
    <div>常规指定位置盖章，加盖印章到模板中的指定位置</div>
    <a href="javascript:POBrowser.openWindowModeless('/seal/word5','fullscreen=yes;');">打开/seal/word5 </a><br>
    <br>
    <div>编辑模版 - 在模版中添加盖章位置</div>
    <a href="javascript:POBrowser.openWindowModeless('/seal/word4','fullscreen=yes;');">打开/seal/word4 </a><br>
    <br>
    <div>无需输入用户名、密码，并且不弹出印章选择框盖章</div>
    <a href="javascript:POBrowser.openWindowModeless('/seal/word3','fullscreen=yes;');">打开/seal/word3 </a><br>
    <br>


    <div>无需输入用户名、密码盖章</div>
    <a href="javascript:POBrowser.openWindowModeless('/seal/word2','fullscreen=yes;');">打开/seal/word2 </a><br>
    <br>

    <div>常规盖章</div>
    <a href="javascript:POBrowser.openWindowModeless('/seal/word1','fullscreen=yes;');">打开/seal/word1 </a><br>
    <br>






</div>

<div style="clear: both"></div>
<div>生成准考证合 </div>
<a href="javascript:POBrowser.openWindowModeless('/word66','fullscreen=yes;');">打开文件word66 </a><br>

<div>另存为 </div>
<a href="javascript:POBrowser.openWindowModeless('/word65','fullscreen=yes;');">打开文件word65 </a><br>

<div>批量生成准考证 </div>
<a href="javascript:POBrowser.openWindowModeless('/word63','fullscreen=yes;');">打开文件word63 </a><br>






<!--<a href="javascript:POBrowser.openWindowModeless('/ppt','fullscreen=yes;');">打开文件11 </a>-->
</body>
</html>
